@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;1000&display=swap");

* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
::-webkit-scrollbar {
  width: 7px;
  background-color: #c851ff96;
  -webkit-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.8) inset;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background-color: #4b0077;
  border-radius: 3px;
}
